:host {
  display: block;
  margin-top: 4px;
}

paper-material {
  margin: 1px;
  padding: 10px;
  background-color: #03A9F4;
  color: white;
}

paper-button {
  margin-top: 10px;
  background-color: #B3E5FC;
}

.price {
  float: right;
}
