<dom-module id="mocs-page">
  <link rel="stylesheet" href="mocs-page.css" />
  <template>

    <paper-tabs selected="{{selectedTab}}">
      <paper-tab>Items</paper-tab>
      <paper-tab>Orders</paper-tab>
    </paper-tabs>

    <iron-ajax
      auto
      url="/items"
      last-response="{{items}}"></iron-ajax>
    <iron-ajax
      auto
      url="/orders"
      last-response="{{orders}}"
      on-response="setCurrentOrder"></iron-ajax>
    <iron-ajax
      id='saveOrder'
      content-type='application/json'
      on-response="handleUpdatedOrder"></iron-ajax>
    <iron-ajax
      id='changeOrderState'
      content-type='application/json'
      method='PATCH'
      on-response="handleOrder"></iron-ajax>

    <iron-pages selected="{{selectedTab}}">
      <div>
        <section class="layout horizontal">
          <section class="layout vertical" style="width:20%" on-change-state="changeOrderState">
            <paper-button raised on-tap="createNewOrder">Create new order</paper-button>
            <span>Order</span>
            <mocs-order _id="{{currentOrder.id}}" _items="{{currentOrder.items}}" _aasm_state="{{currentOrder.aasm_state}}">
            </mocs-order>
          </section>

          <section class="flex layout horizontal wrap" on-add-to-order="addToOrder">
            <template is="dom-repeat" items="{{items}}">
              <mocs-item _id="{{item.id}}" _name="{{item.name}}" _price="{{item.price}}"></mocs-item>
            </template>
          </section>

        </section>
      </div>

      <div>
        <section class="flex layout horizontal wrap" on-change-state="changeOrderState">
          <template id="ordersList" is="dom-repeat" items="{{filter(orders)}}" as="order">

            <mocs-order _id="{{order.id}}" _items="{{order.items}}" _aasm_state="{{order.aasm_state}}"></mocs-item>

          </template>
        </section>
      </div>

    </iron-pages>
    <paper-toast id="toast_saved" text="Saved"></paper-toast>
  </template>

  <script src="mocs-page.js"></script>
</dom-module>
