<dom-module id="mocs-page">
  <link rel="stylesheet" href="mocs-page.css" />
  <template>

    <paper-tabs selected="{{selectedTab}}">
      <paper-tab>Items</paper-tab>
      <paper-tab>Orders</paper-tab>
    </paper-tabs>

    <iron-ajax
      auto
      url="/items"
      handle-as="json"
      last-response="{{ items }}"></iron-ajax>
    <iron-ajax
      auto
      url="/orders"
      handle-as="json"
      content-type='application/json'
      last-response="{{ orders }}"
      on-response="setCurrentOrder"></iron-ajax>
    <iron-ajax
      id='saveOrder'
      handle-as="json"
      content-type='application/json'
      on-response="handleOrder"></iron-ajax>

    <iron-pages selected="{{ selectedTab }}">
      <div>
        <section class="flex layout horizontal wrap" on-add-to-order="addToOrder">
          <template is="dom-repeat" items="{{ items }}">

            <mocs-item id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}"></mocs-item>

          </template>
        </section>
      </div>

      <div>

<!--         <section class="flex layout horizontal wrap">
          <template is="dom-repeat" items="{{orders}}">

            <mocs-order _id="{{order.id}}" item_name="{{item.name}}" _price="{{item.price}}"></mocs-item>

          </template>
        </section> -->

      </div>

    </iron-pages>

  </template>

  <script src="mocs-page.js"></script>
</dom-module>
